<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Rooms list</title>
</head>
<body>
<div>
<div th:replace="header"></div>
</div>
<h2> Please choose room</h2>
<div>
    <div class="container!=null">
        <div th:if="rooms">
            <table class="table table-striped" border="2">
                <tr>
                    <th>No.</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
                <tr  th:each="room, iStat: ${rooms}" >
                    <td th:text="${iStat.index + 1}" />
                    <td><a th:text="${room.id.number}"  th:href="@{|${#request.getRequestURI()}/room/${room.id.number}/user|}"></a></td>
                    <td th:text="${room.type}"/>
                    <td th:text="${room.price}"/>

                </tr>

            </table>
        </div>
        <div th:if="rooms==null">
            <h2>Rooms list is empty !</h2>
        </div>
    </div>

</div>
</body>
</html>