<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Rooms list</title>
</head>
<body>
<div>
<div th:replace="header"></div>
</div>
<div class="container">

        <div th:unless="${rooms.isEmpty()}">
            <h2> Please choose room</h2>
            <table class="table table-striped" >
                <tr>
                    <th>No.</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
                <tr  th:each="room, iStat: ${rooms}" >
                    <td th:text="${iStat.index + 1}" />
                    <td><a th:text="${room.id.number}"  th:href="@{|${#request.getRequestURI()}/room/${room.id.number}/user|}"></a></td>
                    <td th:text="${room.type}"/>
                    <td th:text="${room.price}"/>

                </tr>

            </table>
        </div>
        <div th:if="${rooms.isEmpty()}">
            <h2>There are not available rooms</h2>
        </div>
    <a th:href="@{|${#request.getHeader('referer')}|}" style="text-underline-offset: inherit">&#8592Back to date choice</a>

</div>
</body>
</html>