<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Choose country</title>
</head>
<body>
<div th:replace="header"></div>

<div class = "container">
<h1>Please choose hotel</h1>

    <table class="table table-striped">
        <thead>
    <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Rating</th>
    </tr>
        </thead>
        <tbody>
    <tr  th:each="hotel: ${hotels}" >
        <td th:text="${hotels.indexOf(hotel) + 1}"></td>
        <td><a th:text="${hotel.getName()}"  th:href="@{|/orders/make/${hotel.getCountry().getId()}/hotels/${hotel.getId()}/from|}"></a></td>
        <td><small th:each="star: ${#numbers.sequence( 1, hotel.getStars())}">&#9733</small></td>
    </tr>
        </tbody>
</table>

    <a th:href="@{|${#request.getHeader('referer')}|}" style="text-underline-offset: inherit">&#8592Back to country choice</a>

</div>
</body>
</html>