<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Choose country</title>
</head>
<body>
<div th:replace="header"></div>

<div class="container">
<h1>Please choose country</h1>

    <table class="table table-striped">
        <thead>
         <tr>
         <th>No</th>
         <th>Country</th>
         </tr>
        </thead>
        <tbody>
         <tr th:each="c : ${countries}">
             <td th:text="${countries.indexOf(c)+1}"></td>
             <td th:value="${c.getId()}" hidden></td>
             <td><a th:text="${c.getName()}" th:href="@{|/orders/make/${c.getId()}/hotels|}"></a></td>
         </tr>
        </tbody>
     </table>

</div>
</body>
</html>