<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Confirm</title>
</head>
<body>
<div th:replace="header"></div>
<div class="container">

    <h1> Book information</h1>


    <ul class="list-group">
        <a href="#" class="list-group-item disabled" th:text="${'Firstname: ' + user.getFirstName()}">
        </a>
        <a href="#" class="list-group-item disabled" th:text="${'Lastname: ' + user.getLastName()}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Country: ' + country.getName()}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Hotel: ' + hotel.getName()}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Room: ' + room.getId().getNumber()}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Type: ' + room.getType()}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Period: ' + from_date + ' - ' + to_date}"></a>
        <a href="#" class="list-group-item disabled" th:text="${'Total : ' + room.getPrice() + '*' + days + ' = ' + room.getPrice()*days}"></a>

    </ul>
    </div>
<div class="col-sm-offset-2 col-sm-6">
    <a th:href="@{|${#request.getHeader('referer')}|}" class="btn btn-info" role="button" aria-pressed="true">Previous</a>
    <a th:href="@{|${#request.getRequestURI()}/confirm|}" class="btn btn-info" role="button" aria-pressed="true">Confirm</a>
</div>
</div>
</body>
</html>