<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Country</title>
</head>
<body>
<div th:replace="header"></div>

    <div>
        <div align="center">
            <h2 th:text="${country.getName()}"></h2>
            <br/>
        </div>

        <button sec:authorize="hasAuthority('MANAGER')"
                class="btn btn-info">
            <a th:href="@{|/country/${country.id}/hotels/manager|}">Open manager page</a>
        </button>

        <div class="=container">
            <div class="row" th:each ="hotels:${hotelGroups}">

                <div class="col-sm-4" th:each="hotel:${hotels}">

                    <h3>Stars: <span th:text="${hotel.stars}"></span></h3>
                    <img th:src="${hotel.picture_url}" th:alt="${hotel.name}" width="300" height="200" class="img-rounded">


<!--                    <h3><a th:href="@{|/room/${hotel.id}/all|(country_id=${country.id})}" >-->
<!--                        Choose rooms in <span  th:text="${hotel.name}"></span></a>-->
<!--                    </h3>-->
                    <h3>
                        <a th:href="@{|/orders/make/${country.id}/hotels/${hotel.id}/dates/choose|}" >
                            Go to make an order </span>
                        </a>
                    </h3>
                </div>
            </div>

    </div>
</body>
</html>