<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Create hotel</title>
</head>
<body>
<div th:replace="header"></div>

<h2>New Hotel registration </h2>


<form class="form-horizontal" action="/hotels/add" method="post" th:object="${hotelDto}">
    <table class="table table-striped" border="2">
        <tbody>
        <tr>
            <td>
                <label for="name">Hotel title:</label>
            </td>
            <td>
                <input type="text"  id="name" name="name"/>
                <p>
                    <span class="ui-state-error-text" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}" style="color: red" ></span>
                </p>
            </td>

        </tr>
        <tr>
            <td>
                <label for="country">Country:</label>
            </td>
            <td>
                <input type="text" id="country" name="country" />
                <p>
                    <span class="ui-state-error-text" th:if="${#fields.hasErrors('country')}" th:text="${#fields.errors('country')}" style="color: red" ></span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="stars">Stars:</label>
            </td>
            <td>
                <input type="number" id="stars" name="stars"/>
                <p>
                    <span class="ui-state-error-text" th:if="${#fields.hasErrors('stars')}" th:text="${#fields.errors('stars')}" style="color: red" ></span>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <label for="url">Picture url:</label>
            </td>
            <td>
                <input type="text" id="url" name="picture_url" />

            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Register" />
                <input type="reset" value="Clear" />
            </td>
        </tr>
        </tbody>
    </table>

</form>
</body>
</html>