<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
    <title>Hotel update</title>
</head>
<body>
<div th:replace="header"></div>

<h2>Update hotel  "<span th:text="${hotel.name}"/>"</h2>

</div>
<div>
    <form class="form-horizontal" method="post" th:action="@{/hotels/update}" th:object="${hotel}">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="title">Title:</label>
            <div class="col-sm-8">
                <input id="title" th:field="*{name}" type="text" th:value="${name}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="stars">Stars:</label>
            <div class="col-sm-8">
                <input class="form-control" id="stars" th:field="*{stars}" type="text" th:value="*{stars}"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('stars')}" th:errors="*{stars}"></small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="link">Picture link:</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="link" name="picture_url"/>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-8">
            <input class="btn btn-info" type="submit" value="Update"/>
            <input class="btn btn" type="reset" value="Clear"/>
        </div>
        <input  th:field="*{id}" type="hidden"/>
        <input  th:field="*{country}" type="hidden"/>
    </form>
</div>

<a th:href="@{|/room/${hotel.id}/all|}">Go to Rooms List</a>

</body>
</html>