<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title> All orders</title>
</head>
<body>
<div th:replace="header"></div>
<div class="container">
<h1>All orders</h1>
    <table class="table table-striped">
        <thead>
    <tr>
        <th>No.</th>
        <th>User</th>
        <th>Country</th>
        <th>Hotel</th>
        <th>Room</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Total, $</th>
        <th>Status</th>
    </tr>
        </thead>
        <tbody>
    <tr th:each="order: ${orders}">
        <td th:text ="${orders.indexOf(order)+1}"></td>
        <td th:text ="${order.getUser().getFirstName() + ' ' + order.getUser().getLastName()}"></td>
        <td th:text = "${order.getRoom().getId().getHotel().getCountry().getName()}"></td>
        <td th:text = "${order.getRoom().getId().getHotel().getName()}"></td>
        <td th:text = "${order.getRoom().getId().getNumber()}"></td>
        <td th:text = "${order.getRoom().getType()}"></td>
        <td th:text = "${order.getFromDate()}"></td>
        <td th:text = "${order.getToDate()}"></td>
        <td th:text = "${order.getRoom().getPrice()*
        order.getFromDate().until(order.getToDate(), days)}"></td>
        <td th:text = "${order.getStatus()}">
        </td>
        <td th:if = "${order.getStatus().toString().equals('ACTIVE')}">
            <p><a th:href="@{|/orders/${order.getId()}/cancel|}"> Cancel </a></p>
           <p><a th:href="@{|/orders/${order.getId()}/done|}"> Mark as done </a></p>
        </td>
    </tr>
        </tbody>
    </table>
</div>
</body>
</html>