<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> All orders</title>
</head>
<body>
<h1>All orders</h1>
<table border="2">
    <tr>
        <th>No.</th>
        <th>User</th>
        <th>Country</th>
        <th>Hotel</th>
        <th>Room</th>
        <th>Type</th>
        <th>From</th>
        <th>To</th>
        <th>Total, $</th>
        <th>Status</th>
    </tr>
    <tr th:each="order: ${orders}">
        <td th:text ="${orders.indexOf(order)+1}"></td>
        <td th:text ="${order.getUser().getFirstName() + ' ' + order.getUser().getLastName()}"></td>
        <td th:text = "${order.getRoom().getId().getHotel().getCountry().getName()}"></td>
        <td th:text = "${order.getRoom().getId().getHotel().getName()}"></td>
        <td th:text = "${order.getRoom().getId().getNumber()}"></td>
        <td th:text = "${order.getRoom().getType()}"></td>
        <td th:text = "${order.getFromDate()}"></td>
        <td th:text = "${order.getToDate()}"></td>
        <td th:text = "${order.getRoom().getPrice()*
        order.getFromDate().until(order.getToDate(), days)}"></td>
        <td th:text = "${order.getStatus()}">
        </td>
        <td th:if = "${order.getStatus().toString().equals('ACTIVE')}">
            <p><a th:href="@{|/orders/${order.getId()}/cancel|}"> Cancel </a></p>
           <p><a th:href="@{|/orders/${order.getId()}/done|}"> Mark as done </a></p>
        </td>
    </tr>
</table>
</body>
</html>