<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Rooms list</title>
</head>
<body>
<div th:replace="header"></div>
    <h2> Rooms list </h2>
    <button>  <a th:href="@{|/room/create/${hotel.id}|}"> Create new room </a></button>
    <div >

        <h2>List of rooms in the " <span th:text="${hotel.name}"/> "</h2>
        <div class="container!=null" with="75%">
            <div th:if="rooms">
            <table class="table table-striped" border="2" >
                <tr>
                    <th>No.</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Price</th>
<!--                    <th>Status</th>-->
                    <th colspan="2">Operations</th>
                </tr>
                <tr  th:each="room, iStat: ${rooms}" >
                    <td th:text="${iStat.index + 1}"></td>
                    <td th:text="${room.id.number}"></td>
                    <td th:text="${room.type}"></td>
                    <td th:text="${room.price}"></td>
<!--                    <td th:text="${room.status}" todo show status of room  />-->
                    <td>
                        <button><a th:href="@{|/room/${room.id.number}/update/${hotel.id}|}"> Update </a></button>
<!--                        <form th:action="c" method="get">-->
<!--                            <imput type="hidden" name="hotel_id" id="hotel_id" th:value="${hotel.id}"></imput>-->
<!--                            <imput type="hidden" name="number" id="number" th:value="${room.id.number}"></imput>-->
<!--                            <input type="submit" th:value=" Edit "/>-->
<!--                        </form>-->

                    </td>
                    <td>
                        <form th:action="@{/room/delete(hotel_id=${hotel.id},number=${room.id.number})}" method="post">
<!--                            <imput type="hidden" name="hotel_id" th:value="${hotel.id}"></imput>-->
<!--                            <imput type="hidden" name="number" th:value="${room.id.number}"></imput>-->
                            <input type="submit" value=" Delete "/>
                        </form>
                    </td>
                </tr>
            </table>
            </div>
            <div th:if="rooms==null">
                <h2>Rooms list is empty !</h2>
            </div>
        </div>

    </div>
</body>
</html>