<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Rooms list</title>
</head>
<body>
<div th:replace="header"></div>
    <h2> Rooms list </h2>
    <button sec:authorize="hasAuthority('MANAGER')">  <a th:href="@{|/room/create/${hotel.id}|}"> Create new room </a></button>
    <div >

        <h2>
            List of rooms in the " <span th:text="${hotel.name}"/> "
        </h2>

        <div class="=container">
            <div class="row" th:each ="rooms:${roomGroups}">
                <div class="col-sm-4" th:each="room:${rooms}">
                    <img th:src="${room.picture_url}" th:alt="${room.id.number}" width="300" height="200" class="img-rounded">
                    <h2><a th:href="@{|/orders/make|}" >
                        Go to make an order > </span></a>
                    </h2>
                </div>
            </div>
        </div>

    </div>
</body>
</html>