<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Rooms list</title>
</head>
<body>
    <h2> Rooms list </h2>
    <div>

        <h2>List of rooms in the " <span th:text="${hotel.name}"/> "</h2>
        <div class="container">
            <table class="table table-striped" border="2">
                <tr>
                    <th>No.</th>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
                <tr  th:each="room, iStat: ${rooms}" >
                    <td th:text="${iStat.index + 1}" />
                    <td th:text="${room.number}"  />
                    <td th:text="${room.type}"/>
<!--                    <td th:text="${room.status}" todo show status of room  />-->
                </tr>

            </table>
        </div>

    </div>
</body>
</html>